/*    Bendri    */
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

html{
  scroll-behavior: smooth;
}

section{
  height: 80vh;
  padding-top: 60px;
  background-color: azure;
}

/*      MENU      */
header ul{
  margin: 0;
  padding: 0;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(255, 165, 0);
  /*
    rgb - rgb(RRR,ŽŽŽ,MMM); 0-255
    hex - #RRŽŽMM; 0-f
    
    rgba - rgba(RRR,ŽŽŽ,MMM,Permatomumas) 0-1
    hex - #RRŽŽMMPP 0-f
  */
}

nav > div{
  display: inline-block;
}

.logo{
  margin-left: 20px;
  margin-top: 5px;
}

.logo img{
  height: 50px;
  width: auto;
}

.links{
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  font-weight: bold;
}

.links li:hover > a{
  color: green;
}

.links a{
  text-decoration: none;
  font-size: 2rem;
}

.main-menu > li{
  display: inline-block;
  margin-right: 20px;
  width: 100px;
  height: 30px;
}

.bigList:hover .dropdown{
  display: block;
}

.dropdown{
  display: none;
  position: absolute;
}

.dropdown li{
  list-style-type: none;
  margin-top: 5px;
  margin-left: -10px;
}


/* HERO */


/* ABOUT */
